*{
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
}
body{
    width: 100%;
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2;
    font-family:"source Sans Pro", sans-serif;
    

}
.header {
    background: grey;
    padding: 20px;
    color:#FFFFFF;
    z-index: 2;
    height: auto;
    background-image: url(img/Baniere-restaurant-fiasco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header img {ß
    width: 100%;
    height: auto;
}
.header-title{
    left: 10px;
    top: 10px;
    margin: 0;
    z-index: 4;
    text-align: center;
 
}
.header-nav{
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
    z-index: 3;
}
.header-nav a {
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    width: 25%;
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}
.header-nav a:hover{
text-decoration:underline;
text-decoration-style: double;
font-weight: bold;
background-color: rgba(255, 255, 255, 0.4);

}
.main {
    background: lightgrey;
    font-size: 16px;
    padding: 20px;
    z-index: 1;
}
.main p {
       text-align: justify;
       margin-bottom: 1.5rem;
}


.footer {
    background: grey;
    padding: 10px 20px;
}
.button{
    color: #FFFFFF;
    background: #5834cf;
    text-decoration: none;
    font-size: 20px;
    padding:0.2em 0.5em;
 }
 .alignleft{
    float: left;
    margin-right: 15px;
 }
 .alignright{
    float: right;
    margin-left: 15px;
 }
 hr{
    clear: both;
 }