body{
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family:"source Sans Pro", sans-serif;
    text-align: center;

}
.header {
    background: grey;
   padding: 20px;
    height: auto;
    color:#FFFFFF;
}

.header img {
    width: 100%;
    height: auto;
}
.header-nav{
    margin: 20px 0;   
    text-align: center;
}
.header-nav a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}
.header-nav a:hover{
text-decoration:underline;
text-decoration-style: double;
font-weight: bold;

}
.header-title{
    margin-top: 10px 0;

}

.main {

    background: lightgrey;
    padding: 20px;
}
.main p {
       text-indent: 100px;
}


.footer {
    background: grey;
    padding: 10px 20px;
}